/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:700';
$accent:#00ea46;
@function luminance($color) {
    $red: red($color);
    $green: green($color);
    $blue: blue($color);
    @return .2126 * $red+.7152 * $green+.0722 * $blue;
}

@function contrast($back, $front) {
    $backLum: luminance($back) + .05;
    $foreLum: luminance($front) + .05;
    @return max($backLum, $foreLum) / min($backLum, $foreLum);
}

@function contrast-color($color) {
    $lightTone: contrast($color, white);
    $darkTone: contrast($color, black);
    @if ($lightTone > $darkTone) {
        @return white;
    }
    @else {
        @return black;
    }
}

$font:'Source Sans Pro', sans-serif;
$bg-color:whitesmoke;
body{
    font-family:$font;
    background-color: $bg-color;
    -webkit-font-smoothing: antialiased;
}